[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "==0.22"
torch = "*"
stable-baselines3 = "*"
tensorboard = "*"
wandb = "*"
ipykernel = "*"
jupyterlab = "*"
ipywidgets = "*"
huggingface_hub = "*"
imageio = {version = "*" , extras = ["ffmpeg", "pyav"]}
wasabi = "*"
moviepy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
